@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

html {
    --primary: #ffc8dd;
    --secondary: #005f73;
    font-size: calc(1em + 1vw);
    color: var(--secondary, #005f73);
    user-select: none;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--primary, #ffc8dd);
}

.title {
    font-size: 3em;
    margin: 0;
    font-weight: bold;
}

.text {
    font-size: 1.5em;
}


#name_button, #start_button {
    width: 1.5em;
    height: 1.5em;
    aspect-ratio: 1;
    background: var(--secondary, #005f73);
    color: var(--primary, #ffc8dd);
    text-align: center;
    margin: 8px 16px 0 0;
    font-weight: bold;
}

#name_flex {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 5% 0 5% 0;
    width: 95%;
    justify-content: space-between;
}

#title-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progress {
    width: 10px;
    height: 50%;
}

.progress-wrap {
    background: var(--secondary, #005f73);
    border: 2px solid var(--secondary, #005f73);
    overflow: hidden;
    position: relative;
    margin: 5px 20px 0 10px;
}

.progress-bar {

    background: var(--primary, #ffc8dd);
    position: absolute;
    height: 100%;
}

.custom-field {
    position: relative;
    width: 100%;
}

.custom-field input {
    width: 95%;
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 12px;
    outline: none;
}

.custom-field input {
    background:
            linear-gradient(90deg, var(--secondary, #005f73), var(--secondary, #005f73)) center bottom/0 0.15em no-repeat,
            linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat,
            linear-gradient(90deg, var(--primary, #ffc8dd), var(--primary, #ffc8dd)) left bottom/100% no-repeat;
    transition: background-size 0.3s ease;
    color: var(--secondary, #005f73);
}

.custom-field input::placeholder {
    color: var(--secondary, #005f73);
    opacity: 50%;
    transition: background-size 0.3s ease;
}

.custom-field input:focus {
    background-size: 100% 0.15em, 100% 0.1em, 100%;
}

.delete_name {
    display: inline-block;
    transition: 0.3s ease;
}

.delete_name:hover {
    transform: rotate(30deg);
    transition: 0.3s ease;
}

#names {
    margin: 16px 0 0 0;
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
    font-size: 0.5em;
}

.name {
    background: var(--secondary, #005f73);
    color: var(--primary, #ffc8dd);
    align-content: center;
    padding: 8px;
}

.card {
    position: relative;
    overflow: hidden;
    padding: 5%;
    height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    background-color: var(--primary, #ffc8dd);
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 5%;
    box-shadow:
            1px 1px rgba(0,0,0,0.01),
            2px 2px rgba(0,0,0,0.03),
            3px 3px rgba(0,0,0,0.025),
            4px 4px rgba(0,0,0,0.02),
            5px 5px rgba(0,0,0,0.015),
            6px 6px rgba(0,0,0,0.01),
            7px 7px rgba(0,0,0,0.01),
            8px 8px rgba(0,0,0,0.01),
            9px 9px rgba(0,0,0,0.01),
            10px 10px rgba(0,0,0,0.01),
            11px 11px rgba(0,0,0,0.01),
            12px 12px rgba(0,0,0,0.01),
            13px 13px rgba(0,0,0,0.01),
            14px 14px rgba(0,0,0,0.01),
            15px 15px rgba(0,0,0,0.01),
            16px 16px rgba(0,0,0,0.01),
            17px 17px rgba(0,0,0,0.01),
            18px 18px rgba(0,0,0,0.01),
            19px 19px rgba(0,0,0,0.01),
            20px 20px rgba(0,0,0,0.01),
            21px 21px rgba(0,0,0,0.01),
            22px 22px rgba(0,0,0,0.01),
            23px 23px rgba(0,0,0,0.01);
    outline: 6px solid var(--secondary, #005f73);
}

.custom-field input.dirty + .placeholder,
.custom-field input:focus + .placeholder,
.custom-field input:not(:placeholder-shown) + .placeholder {
    top: -10px;
    font-size: 0.7em;
    color: var(--secondary, #005f73)
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hidden {
    display: none !important;
}

.transparent {
    visibility: hidden !important;
}
